body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    max-width: 1600px;

    background: linear-gradient(0.25turn, #00081076, #ffffff, #00081076);
}


.cards-section {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.search-form {
    background-color: #030f1b;
    width: 100%;
    height: 60px;
    margin-top: 0;
    border: 2px solid #00081076;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.search-query {
    width: 200px;
    height: 30px;
    border-radius: 2px;
    border: 3px solid rgb(255, 255, 255);
    background-color: #d5e0ea;
    color: #030f1b;
    padding-left: 16px;
    font-size: 18px;
}

.search-query:hover,
.search-query:focus {
    background-color: #a5bcd2;
}

.search-btn,
.load-more {
    height: 35px;
    border-radius: 2px;
    border: 3px solid rgb(255, 255, 255);
    background-color: #d5e0ea;;
    text-transform: uppercase;
    color: #030f1b;
    font-weight: 600;
}

.search-btn:hover,
.load-more:hover,
.search-btn:focus,
.load-more:focus {
    background-color: #a5bcd2;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    list-style: none;
}

.link-card {
    width: calc((100% - 3 * 15px) / 4);
    display: block;
    text-decoration: none;
    height: 100%;
}

.link-card:hover {
    cursor: zoom-in;
}

.photo-card {
    
    position: relative;
    z-index: -1;

}

.info {
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    font-size: 16px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    display: block;
    max-width: 100%;
    height: 250px;
}

.load-more {
    margin-top: 30px;
    width: 120px;

}

.is-hidden {
    opacity: 0;
} 